# Use forward slashes "/" in paths for compatibility across platforms

# Parse
# Whether to parse the game files.
SHOULD_PARSE="False"

# Name of the game to parse.
# Required when SHOULD_PARSE is True
GAME_TO_PARSE="WRFrontiers"
